<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation Website</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>

<body>
    <header>
        <h1 class="bebas-neue-regular">Animation CSS Website</h1>
    </header>
    <main class="items bebas-neue-regular">
        <p>It's a simple animation with CSS<br>
            Hope you'll like it<br>
            Created by Matvey Guralskiy<br>
            Version 3.0</p>
        <a href="https://en.wikipedia.org/wiki/CSS" target="_blank"><img src="../static/Images/CSS-logo.webp"
                alt="CSS logo"></a>
    </main>
    <footer>
        <a href="https://github.com/MatveyGuralskiy" target="_blank"><button class="bebas-neue-regular">Subscribe to
                GitHub</button></a>
    </footer>
</body>

</html>