packages:
  yum:
    jq: present
    java-1.8.0-openjdk: present

files:
  "/home/ec2-user/script.sh":
    group: root
    mode: "0755"
    owner: root
    content: |
      #!/bin/bash
      echo "Created by Elastic Beanstalk" >> Message.txt

  "/home/ec2-user/image.gif":
    group: root
    mode: "0444"
    owner: root
    source: https://www.electrictoolbox.com/images/icons/linux-bsd.gif

commands:
  create_directory:
    command: "mkdir -p /home/ec2-user/httpd"

  remove_old_java:
    command: "yum -y remove java-1.7.0-openjdk"

container_commands:
  copy_files:
    command: "cp .ebextensions/httpd/* /home/ec2-user/httpd/"